{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>


<div class="row" style="margin-top: 100px;">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{unHackathon.image}}">
			<div class="card-body">
				<h3 class="card-title">{{unHackathon.theme}}</h3>
                    <h4>Date du début de l'évènement{{unHackathon.dateDebut |date('d/m/Y')}}</h4>
                    <h4> Date de fin de l'évènement : {{unHackathon.dateFin|date('d/m/Y')}}</h4>
                    <h4>Heure d'ouverture de l'évènement : {{unHackathon.heureDebut|date('h:i')}}</h4>
                    <h4>Date limite d'inscription : {{unHackathon.dateLimite|date('d/m/Y')}}</h4>
					<h4>{{unHackathon.lieu}}, {{unHackathon.rue}}, {{unHackathon.ville}}, {{unHackathon.codePostal}} </h4>
                    <h4>{{unHackathon.nbPlaces}} places restantes</h4>
					<button class="btn btn-success"href="#">S'inscrire</button>
			</div>
		</div>
    </div>

</div>




{% endblock %}
