{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row" style="margin-top: 100px; width:100%">
			<div style="width:100%">
				<h1>Liste des Villes</h1>
				{% for uneVille in listeVilles %}
					<a href="{{path('ListeHackathonsByVille', {'ville':uneVille.ville})}}" class="btn btn-primary" style="margin-right:5px">{{uneVille.ville}}</a>
				{% endfor %}
				<a href="/liste" class="btn btn-primary" style="margin-right:5px">Toutes les villes</a>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 100px;">
		{% for lesHackathons in listeHackathons %}
			<div class="col col-lg-3 col-md-4 col-sm12" style="margin-top: 50px; margin-bottom:50px;">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="{{lesHackathons.image}}">
					<div class="card-body">
						<h4 class="card-title">{{lesHackathons.theme}}</h4>
						<h6>{{lesHackathons.lieu}},
							{{lesHackathons.ville}},
							{{lesHackathons.codePostal}}
						</h6>
						<p>Date du début de l'évènement :
							{{lesHackathons.dateDebut |date('d/m/Y')}}
						</p>
						<a class="btn btn-primary" href="{{path('hackathon', {'id':lesHackathons.idHackathon})}}">En savoir plus</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
