{% extends 'base.html.twig' %}
 
{% block title %}Créez votre compte
{% endblock %}
 
 
{% block body %}
    <div class="container">
    {{form_start(monForm)}}
        <div class="row">
            {{form_start(monForm)}}
            <a class="mt-5">{{form_row(monForm.nom)}}</a> 
            <a class="mt-5 ml-2">{{form_row(monForm.prenom)}}</a>
        </div>
        {{form_row(monForm.datenaissance)}}
        <div class="row">
        <a class="ml-2">{{form_row(monForm.rue)}}</a>
        <a class="ml-2">{{form_row(monForm.ville)}}</a>
        <a class="ml-2">{{form_row(monForm.codepostal)}}</a>
        </div>
        <div class="row">
        <a class="ml-2">{{form_row(monForm.mail)}}</a>
        <a class="ml-2">{{form_row(monForm.tel)}}</a>
        <a class="ml-2">{{form_row(monForm.password)}}</a>
        </div>
        {{form_row(monForm.portfolio)}}
        <br>
        <input type="submit" class="btn btn-primary"value="Ajouter">
        {{form_end(monForm)}}
 
    </div>
{% endblock %}


